<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @playground.name %>
</p>

<p>
  <b>Mapid:</b>
  <%= @playground.mapid %>
</p>

<p>
  <b>Agelevel:</b>
  <%= @playground.agelevel %>
</p>

<p>
  <b>Totplay:</b>
  <%= @playground.totplay %>
</p>

<p>
  <b>Openaccess:</b>
  <%= @playground.openaccess %>
</p>

<p>
  <b>Invitation:</b>
  <%= @playground.invitation %>
</p>

<p>
  <b>Access:</b>
  <%= @playground.access %>
</p>

<p>
  <b>Safelocation:</b>
  <%= @playground.safelocation %>
</p>

<p>
  <b>Conditions:</b>
  <%= @playground.conditions %>
</p>

<p>
  <b>Monitoring:</b>
  <%= @playground.monitoring %>
</p>

<p>
  <b>Programming:</b>
  <%= @playground.programming %>
</p>

<p>
  <b>Weather:</b>
  <%= @playground.weather %>
</p>

<p>
  <b>Seating:</b>
  <%= @playground.seating %>
</p>

<p>
  <b>Restrooms:</b>
  <%= @playground.restrooms %>
</p>

<p>
  <b>Drinkingw:</b>
  <%= @playground.drinkingw %>
</p>

<p>
  <b>Physicald:</b>
  <%= @playground.physicald %>
</p>

<p>
  <b>Socialdom:</b>
  <%= @playground.socialdom %>
</p>

<p>
  <b>Intellect:</b>
  <%= @playground.intellect %>
</p>

<p>
  <b>Naturualen:</b>
  <%= @playground.naturualen %>
</p>

<p>
  <b>Freeunstruct:</b>
  <%= @playground.freeunstruct %>
</p>

<p>
  <b>Specificcomments:</b>
  <%= @playground.specificcomments %>
</p>

<p>
  <b>Generalcomments:</b>
  <%= @playground.generalcomments %>
</p>

<p>
  <b>Compsum:</b>
  <%= @playground.compsum %>
</p>

<p>
  <b>Modsum:</b>
  <%= @playground.modsum %>
</p>

<p>
  <b>Graspvalue:</b>
  <%= @playground.graspvalue %>
</p>

<p>
  <b>Class:</b>
  <%= @playground.class %>
</p>

<p>
  <b>Subarea:</b>
  <%= @playground.subarea %>
</p>


<%= link_to 'Edit', edit_playground_path(@playground) %> |
<%= link_to 'Back', playgrounds_path %>
